{% extends 'base.html' %}

{% block body %}
<div class="container-fluid justify-content-center w-75 h-100 mt-5">
    <div class="container">
        <h1>Contact</h1>
        <div class="container-fluid"><p>Feel free to contact me using the form below or send an email to pcarpes@gmail.com</p></div>
        <div class="mx-sm-5 mb-2 col-md-6">
            <form target="_self" action="https://formsubmit.co/pcarpes@gmail.com" method="POST">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Full Name" required>
                <label for="email">E-mail</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Email Address" required>
                <label for="message">Message</label>
                <textarea placeholder="Your Message" class="form-control" name="message" id="message" rows="3" required></textarea>
                <input type="hidden" name="_captcha" value="false">
                <input type="hidden" name="_next" value="http://127.0.0.1:5000/thanks">
                <p></p>
                <button type="submit" class="btn btn-lg btn-dark btn-block" id="button">Submit Form</button>
                <button type="reset" class="btn btn-lg btn-dark btn-block tx-1" id="reset">Reset Form</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}